body {
  margin: 0;
  font-family: "satisfy", cursive, sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  background-color: #FFD5C1;
}

/*Main Items*/
.homepage-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7em;
}

/*Logo*/

.recipe-logo{
  width: 200px;
  margin-bottom: 2em;
}

/*Form*/
form{
  text-align: center;
}
.recipe-label{
  font-size: 1.7rem;
  text-align: center;
}
.recipe-searchBar{
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;

}
.recipe-submit{
  margin-top: 2em;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: "satisfy", cursive, sans-serif;
  cursor: pointer;
  background-color: #94390D;
  color: white;
}

.recipe-submit:hover{
  background-color: #F9Ca00;
  color: black;
}


