body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  background-color: #FEFDED;
  background-repeat: no-repeat;
  /* background-color: #FFD5C1; */
}

/*Main Items*/
.homepage-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7em;
}

/*Logo*/

.recipe-logo{
  width: 200px;
  margin-bottom: 2em;
}

/*Form*/
form{
  text-align: center;
}
.recipe-label{
  font-size: 1.7rem;
  text-align: center;
}
.recipe-searchBar{
  border: 1px solid #A1C398;
  border-right: none;
  padding: 10px;
  width: 50%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color:white;
  margin-top: 1em;

}
.recipe-submit{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #A1C398;
  padding: 10px 20px 11.4px;
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  cursor: pointer;
  background-color: #C6EBC5;
  color: black;
}

.recipe-submit:hover{
  background-color: #A1C398;
  color: black;
}

.horizontal-line{
  width: 700px;
  margin-top: 4em;
  margin-bottom: 4em;
}

/*Search results*/

.search-results-title{
  text-align: center;
  margin-bottom: 2em;
  color: rgb(168, 160, 160);
}

.search-results-title2{
  text-align: center;
  margin-bottom: 2em;
  color: rgb(0, 0, 0);
}

.recipe-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;

}

.recipe-title{
  text-align: center;
  font-size: 1.1rem;
  width: 250px;
}

.recipe-img{
  width: 250px;
  padding: 20px;
}

.reset-btn{
  margin: 30px auto;
  display: block;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #C6EBC5;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.reset-btn:hover{
  background-color: #A1C398;
}