body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  background-color: #FEFDED;
  background-repeat: no-repeat;
  /* background-color: #FFD5C1; */
}

.link-styles{
  margin: 20px;
  font-size: 1.2rem;
}

.link {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.link.active {
  font-weight: bold;
  color: #FA7070;
}

/*Main Items*/
.homepage-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

/*Logo*/

.recipe-logo{
  width: 200px;
  margin-bottom: 2em;
}

/*Form*/
form{
  text-align: center;
}
.recipe-label{
  font-size: 1.7rem;
  text-align: center;
}
.recipe-searchBar{
  border: 1px solid #A1C398;
  border-right: none;
  padding: 10px;
  width: 50%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color:white;
  margin-top: 1em;

}
.recipe-submit{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #A1C398;
  padding: 10px 20px 11.4px;
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  cursor: pointer;
  background-color: #C6EBC5;
  color: black;
}

.recipe-submit:hover{
  background-color: #A1C398;
  color: black;
}

.horizontal-line{
  width: 700px;
  margin-top: 2em;
  margin-bottom: 2em;
}

/*Search results*/

.search-results-title{
  text-align: center;
  margin-bottom: 2em;
  color: #a8a0a0;
}


.search-results-title2{
 text-align: center;
  margin-bottom: 2em;
  color: rgb(0, 0, 0);
}

.recipe-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;

}

.title-heart-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recipe-title{
  text-align: center;
  font-size: 1.1rem;
  width: 200px;
  color: black;
}

.heart-icon-button-container{
  border: none;
  background-color: #FEFDED;
}

.heart-icon{
  width: 25px;
  cursor: pointer;
}

.recipe-img{
  width: 270px;
  height: 200px;
  padding: 20px 10px 15px 20px;
}


.reset-btn{
  margin: 30px auto;
  margin-bottom: 0;
  display: block;
  border: 2px solid #FA7070;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #FEFDED;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.reset-btn:hover{
  background-color: #dff0de;
}

/*Favourite Page*/

.favourites-container{
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 2em;
}

.favourite-title{
  font-size: 2rem;
  color: #A1C398;
  margin-right: 5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #67955c;
}

.favourite-recipes{
  color: #a8a0a0;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 4em;
}

.favourite-title-heart{
  width: 25px;
}

.saved-recipe-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  }

/*Small devices (phones, 576px and up)*/
@media (max-width: 576px) {
  .horizontal-line{
      width: 150px;
  }
  .homepage-container {
    margin-top: 1em;
  }
  
  .recipe-searchBar {
    width: 60%; 
    margin-top: 0.5em;
  }
  
  .recipe-submit {
    font-size: 1rem; 
    padding: 7px 20px 10px;
  }

  .recipe-title {
    font-size: 1rem; 
    width: 150px; 
  }

  .recipe-img {
    width: 200px;
    height: auto; 
    padding: 10px; 
  }

  .reset-btn {
    margin: 20px auto; 
    font-size: 0.9rem; 
    padding: 8px 12px; 
  }

  .favourites-container {
    margin-top: 1em; 
  }

  .favourite-title {
    font-size: 2rem; 
  }

  .favourite-recipes {
    font-size: 1.2rem; 
    margin-top: 2em;
  }

  .saved-recipe-container {
    padding: 10px; 
  }
}